.card {
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.10);
    color: white;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#imgIcon {
    width: 130px;
    height: 130px;
}

#info-planet {
    text-align: center;
}

.monstreImg {
    width: 90px;
}
.specimenImg {
    width: 40px;
}

.colored-hash .block {
    letter-spacing: -8px;
    display: inline-block;
    width: 8px;
    height: 14px;
    overflow: hidden;
    padding: 0;
    line-height: 1;
}

.element {
    width: 48px;
}